@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
html {
	background: #eee;
	color:#000;
	font-family: Tahoma,Geneva,sans-serif;
height: 100%;
}

body{margin:0px !important;height: 100%;}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,footer,main{
	display: block;
	float:left;
	width:100%;
	box-sizing: border-box;}
header {
	background: #eee;
 /*   background: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#000));
    background: -moz-linear-gradient(top,   #323232,    #000);
*/	border-bottom: thick solid #fff;
	position: relative;
	
}
header,main {
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);}
main{ flex: 1 0 auto;background: #fff;}
footer{padding:25px;flex: 0 0 auto;}

button{
	cursor: pointer;
	background:#fff;
	border-radius: 2px;
	padding:6px;
	border:1px solid #a7a7a7;
	outline-color: #FFB0B0 ;
	}
button i{color:#7f7f7f;}
button, select{	
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
 	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
 	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

button:active, select:active{
	background:#f4f4f4;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/*button*/
button.translate_button{
	outline:none;
		background: #ECECEC;
		border-radius: 2px;
		padding: 6px 6px;
		font-weight: bold;
		color:#7f7f7f;
		text-decoration: none;
		text-shadow:0px 1px 0px #fff;
		border:1px solid #a7a7a7;
		width: 145px;
		box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
		-webkit-transition:box-shadow 0.5s;
	}
	button.translate_button i{
		float: right;
		margin-top: 2px;
	}
	button.translate_button:hover{
		box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
	}
	button.translate_button:active{
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
		background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
	}
/*button*/
/*select*/
select {
	width: 200px;
	border-radius: 2px;
	padding: 6px 35px 6px 6px;
	border: 1px solid #a7a7a7;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%237f7f7f' fill-rule='evenodd' class='cls-1' d='M8,0L4.141,6.993,0.012,0.156Z'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: right 13px center;
	padding-right: 30px;
	outline-color: #FFB0B0 ;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
	display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
	select {
    	background:none\9;
    	padding: 5px\9;
    	} 
    }
/*select end*/

::selection {
background: #FFB0B0; /* Safari */
}
::-moz-selection {
background: #FFB0B0; /* Firefox */
}


#logo {
	width: 100%;
}
#logo span {
	font-weight: bold; 
	font-size:20px;
	display:block;
	top:10px;
	float:left;
	line-height: 64px;
	color:#fff;
text-shadow: 2px 2px 2px rgba(0,0,0,.4);}
#logo img {
	display: block;
	float:left;}
.cassing {
	padding-left:50px;
	padding-right:50px;
}
.copyright{font-size:12px;
	color:#323232;
	display: block;
	margin:0 auto;
	width:max-content;
	}
.copyright img{
	display:block;
	margin:0 auto;}
	footer,header,.top_panel,.bottom_panel{
-moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/}

#text_fields {
	padding-top:50px;
	padding-bottom:50px;
	float:left;
	display:block;
	width:100%;
	box-sizing: border-box;
}
.fields,.dictionary{
	float:left;
	display:block;
	width:50%;
	box-sizing: border-box;}
.fields textarea, #field2{
	padding: 5px;
	font-family: Tahoma,Geneva,sans-serif;
	font-size:20px;
	background:none;
	display: block;
	box-sizing:border-box;
	min-height: 200px;
	overflow: hidden;
	min-width:100%;
	max-width:100%;
	border:0px;
	resize: none;
	}

#field2{display:inline-block;}

	.fields textarea:focus{outline: none;}
#first_text_field, #words_block_first{padding-right: 25px;}
#second_text_field, #words_block_second{padding-left:25px;}
#dictionary_block {
	float:left;
	min-width: 100%;
	width:100%;
	box-sizing: border-box;}
.dictionary {padding-top:10px;}
.top_panel, .bottom_panel,#left_field,#right_field,#words_content_left, #words_content_right {
	width:100%;
	display:block;
	float:left;
box-sizing:border-box;}
#words_content_left, #words_content_right {
	background:#f4f4f4;
padding:10px;}
.top_panel,.bottom_panel_block{
	padding:5px;
}
#left_field,#right_field {
	background: #fff;
	border:1px solid #a7a7a7;
-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#symbol_count{color:gray;font-size:12px;line-height:30px;}
.lang_select_left,.right_buttons,#symbol_count, .right_buttons_botton{float:right;}
.left_buttons,.right_buttons{
	display: block;
	width:auto;}
.right_buttons_botton{padding:5px;}
.left_buttons{float: left;}
#bottom_menu {margin:0 auto;width:max-content;padding-bottom: 15px;color:#fff;}
#bottom_menu a{color:#000;text-decoration: none;padding-left:10px; padding-right: 10px;}
#bottom_menu a:hover{text-decoration: underline; }
#reverse_block {
	padding:5px;
	float:left;
	width:50px;
	box-sizing: border-box;
position: relative;
margin:0px -25px -25px -25px;
}
#reverse_block button {width:100%;box-sizing:border-box;}

#keyboard{padding:0px;}
.actions-container {display: none!important;}

.helptip div {
	box-sizing:border-box;
    padding: 4px 2px 0px 2px;
    margin: -70px 0px 0px -7px;
    background: #ebebeb;
    border-radius: 2px;
    border: 1px solid #ddd;
    position: absolute;
    display: none;
    z-index: 99;
    width: auto;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    cursor: default;
}

#soc_block a{float: left;display: block; height: 32px; width: 32px;opacity:0.5;padding:2px;
}
 #soc_block a:hover{opacity:1;}
.vk_s{background: rgba(0, 0, 0, 0) url("soc/vk_s.png") no-repeat scroll center top / 32px 32px;}
.fb_s{background: rgba(0, 0, 0, 0) url("soc/fb_s.png") no-repeat scroll center top / 32px 32px;}
.ok_s{background: rgba(0, 0, 0, 0) url("soc/ok_s.png") no-repeat scroll center top / 32px 32px;}
.gp_s{background: rgba(0, 0, 0, 0) url("soc/gp_s.png") no-repeat scroll center top / 32px 32px;}
.tw_s{background: rgba(0, 0, 0, 0) url("soc/tw_s.png") no-repeat scroll center top / 32px 32px;}

.parag{
	display:inline;
 text-transform: inherit;}
.parag::first-letter {
    text-transform: uppercase;
}
.parag:hover{background: #ccc;}